<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= metadataSerie.name %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-gray-950">

    <%- include('../components/navbar.ejs') %>

    <section class="md:grid md:grid-cols-3 max-w-screen-xl m-auto lg:p-10 p-5  shadow-sm min-h-screen items-start">


        <!-- CAPA -->
        <img class="md:w-72 w-60 md:h-96 h-96  m-auto mt-0 rounded-sm overflow-hidden   object-cover" src="<%= metadataSerie.image %>" alt="<%= metadataSerie.name %>"> 

        <!-- METADADOS -->
        <div class="h-auto min-h-20 w-full">
            <h1 class="text-center my-2 md:my-0 md:text-left md:text-5xl text-4xl text-gray-300 col-span-3"><%= metadataSerie.name %></h1>
            <br>

            <% if(typeof metadataSerie.releaseYear !== 'undefined' && metadataSerie.releaseYear){  %>
                <p class=" my-2 md:my-0 md:text-left md:text-base text-base text-gray-100 col-span-3"><b>Lançamento:</b> <%= metadataSerie.releaseYear %></p>
            <% }%>

            <% if(typeof metadataSerie.genre !== 'undefined' && metadataSerie.genre){  %>
                <p class=" my-2 md:my-0 md:text-left md:text-base text-base text-gray-100 col-span-3"><b>Gênero:</b> <%= metadataSerie.genre %></p>
            <% }%>

            <% if(typeof metadataSerie.creator !== 'undefined' && metadataSerie.creator){  %>
                <p class=" my-2 md:my-0 md:text-left md:text-base text-base text-gray-100 col-span-3"><b>Criador:</b> <%= metadataSerie.creator %></p>
            <% }%>

            <% if(typeof metadataSerie.synopsis !== 'undefined' && metadataSerie.synopsis){  %>
               <br> <p class=" my-2 md:my-0 md:text-left md:text-base text-base text-gray-100 col-span-3"><b>Sinopse:</b> <%= metadataSerie.synopsis %></p>
            <% }%>
        </div>


        <!-- lista -->
        <%- include('../components/list.ejs', {nameFolder: nameMetadata}) %>

        <!-- PLAYER -->
        <div class="col-span-3 my-10">
            <section id="video" class="<%= metadataSerie.type == 'serie' ? 'hidden' : 'block' %> aspect-video p-5 w-full">
                <video id="videoElement" class="h-auto w-full aspect-video "  controls autoplay  poster="https://sm.ign.com/ign_br/screenshot/default/filmes-series-2021_dsfb.jpg"  >  <!-- audio/ogg; codecs="vorbis" | audio/webm; codecs="opus" |  audio/mp4; codecs="mp4a.40.2" -->
                    <source    src="<%= typeof srcStreaming !== 'undefined' && srcStreaming ? srcStreaming : '' %>" type="video/mp4"  class="aspect-video"  >
                    Your browser does not support the video tag.
                </video>
            </section>
        </div>


    </section> 





    
</body>
</html>