<div class="grid grid-cols-2 md:grid-cols-4 gap-4 max-w-screen-xl  m-auto lg:p-10 p-4 flex-none shadow-lg md:mt-16 mt-40 ">

  <% if (typeof seriesPage != 'undefined' && seriesPage && seriesPage.length > 0) { %>   

    <% seriesPage.forEach(element => { %>

      <a href="/<%= element.type %>/<%= element._id %>" title="<%= element.name %>" >
        <div class=" md:w-64 w-40  rounded-sm overflow-hidden m-auto duration-200 hover:scale-105 hover:shadow relative">
          <p class="text-gray-100 bg-red-600 absolute px-4 right-0"><%= element.rating  %></p>

          <img class="w-full  object-cover duration-200  md:h-96 h-56" src="<%= element.image %>" alt="<%= element.title %>"> 

          <div class=" px-4 overflow-hidden py-4 text-gray-300 text-sm h-20 flex items-center justify-center">
            <h2 class="text-center"><%= element.name  %></h2>
          </div>
        </div>
      </a>
      
    <% }) %>

  <% } %> 
      
</div>