<div class="max-h-96 overflow-auto w-full">
    <% if (typeof season !== 'undefined' && season) { %>
        <ul id="accordion">
            <% Object.keys(season).sort((a, b) => a - b).forEach(pageNumber => { %>
                <li class="my-2 py-1 px-4">
                    <button class="shadow-sm bg-gray-100 px-4 block w-full text-left py-2" onclick="toggleSeason('<%= pageNumber %>')">
                        <strong>Temporada <%= pageNumber %></strong>
                    </button>

                    <ul id="season<%= pageNumber %>" class="overflow-hidden max-h-96 overflow-y-auto temporada duration-300 transition-max-height hidden">
                        <% season[pageNumber].sort((a, b) => a.episode - b.episode).forEach(episode => { %>
                            <li class="w-full  liList" id="<%= episode._id %>">
                                <button onclick="openVideo('/player/serie/<%= episode._id %>', this), marcarItem('<%= episode._id %>')" class="hover:bg-gray-200 text-left h-full px-4 py-2 block w-full bg-gray-900 text-gray-50 hover:text-gray-900" data-episode-id="<%= episode._id %>">
                                    Episódio <%= episode.episode %>
                                </button>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
        </ul>

        <script>
            function toggleSeason(pageNumber) {
                var seasonElement = document.getElementById('season' + pageNumber);
                seasonElement.classList.toggle('hidden');
            }

            function openVideo(link, button) {
                button.classList.add('bg-green-600');

                document.getElementById('video').classList.remove('hidden')
                // Atualiza o src do elemento de vídeo
                document.getElementById('videoElement').src = link;

                // Reinicia o vídeo para garantir que ele seja recarregado
                document.getElementById('videoElement').load();


                // Rolar a página suavemente até o elemento com o ID "videoElement"
                document.getElementById('videoElement').scrollIntoView({ behavior: 'smooth' });
            }
        </script>
    <% } %>
</div>